@import "./../../../_mixin";

#image-display {
  margin-top: $mediumPadding;
  margin-bottom: $mediumPadding;
  cursor: pointer;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
  display: -webkit-inline-box;
}