@import "./../../_mixin";

#left-side {
  float: left;
  height: 100%;
  border: solid;
  width: 20%;
  margin-left: 3%;
  margin-right: 4%;

  div#controls {
    bottom: 0;
    position: absolute;
    padding-bottom: $mediumPadding;
    padding-left: $mediumPadding;
    float: left;
  }
}
